<header>
  <nav>
    @for (menuItem of menuItems; track $index) {
      <a
        [routerLink]="menuItem.link"
        [routerLinkActive]="'menu-item-active'"
        [routerLinkActiveOptions]="{ exact: menuItem.link === '/' }"
      >{{ menuItem.label }}</a>
    }
  </nav>

  <select [ngModel]="currentLocale" (ngModelChange)="handleLocaleChange($event)">
    @for (locale of locales; track locale.id) {
      <option [value]="locale.id" [selected]="locale.id === currentLocale">{{ locale.label }}</option>
    }
  </select>
</header>

<main>
  <router-outlet />
</main>
